// ===============
// colors palette
// ===============
:root {
	--main: #000;
	--white: #fff;
	--gray: #EDEEF1;
	--gray2: #EEEDF1;
	--gray3: #A7A6AE;
	--purple: #A29BBF;
	--blue: #2F80ED;
	--green: #10A86E;
	--red: #C95653;
	--orange-dark: #C88811;
}
