//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	outline: none;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	border-bottom: toRem(1) solid var(--main);
	caret-color: inherit;
	padding: 10px 0;
	font-weight: 500;
	@include adaptiveValue("font-size", 25, 20,0,1440.98,480.98);
	// &._form-focus {
	// }
	// &._form-error {
	// }
}
// .input[placeholder]:not([data-placeholder-nohiden]) {
// 	&::placeholder {
// 		transition: opacity 0.3s;
// 	}
// 	&:focus::placeholder {
// 		opacity: 0;
// 	}
// }

textarea.input {
	resize: none;
	padding: 20px 20px;
	outline: none;
	border: toRem(1) solid var(--main);
	@media (max-width:$mobileSmall){
		padding: 10px;
	}
}


// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
