.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--top {
    object-position: top;
  }

  &--bottom {
    object-position: bottom;
  }

  &--left {
    object-position: left;
  }

  &--right {
    object-position: right;
  }

  &--contain {
    object-fit: contain;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


[class*="__container"] {
  width: 100%;
  padding-inline: toRem(16);
  margin-inline: auto;
  @include adaptiveValue("max-width", 1770, 1392, 0, 1920.98, 1440.98);
}

.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
  overflow: hidden;
}

.split-words.set-span {
  .word {
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform .85s cubic-bezier(.22, .89, .34, .96);
    }
  }
}

%loadedSetSpan {
  .word {
    span {
      .loaded & {
        // transform: translateY(0);
        transform: translateY(-9%);
        transition: transform .85s cubic-bezier(.22, .89, .34, .96);
        transition-delay: calc(0.3s + var(--index) * .03s);
      }
    }
  }
}

%viewSetSpan {
  &._view {
    .word {
      span {
        // transform: translateY(0);
        transform: translateY(-9%);
        transition-delay: calc(var(--index) * .03s);
      }
    }
  }
}

.split-chars {
  display: inline-block;

  .char {
    transform: translateY(100%);
  }
}

%loadedChar {
  .char {
    .loaded & {
      transform: translateY(0);
      // transform: translateY(-9%);
      transition: transform .85s cubic-bezier(.22, .89, .34, .96);
      transition-delay: calc(var(--index) * .03s);
    }
  }
}




// Ticker =================================
[data-ticker] {
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;

  >* {
    display: flex;
    flex-wrap: nowrap;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-rev {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

// ========================================


* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px;
  }
}

// == TITLES ========================
.title-hero {
  font-weight: 500;
  @include adaptiveValue("font-size", 51, 30, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 30, 18, 3, 1440.98, 375.98);
}

.title-hero--tme {
  font-family: "archivo", sans-serif;
  font-weight: 700;
  @include adaptiveValue("font-size", 234, 180, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 180, 130, 3, 1440.98, 375.98);
}

.title-main {
  @include adaptiveValue("font-size", 104, 80, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 80, 40, 3, 1440.98, 375.98);
  font-weight: 700;
  // line-height: 1.15;
  line-height: 1;
  @extend %viewSetSpan;
}

.title-44 {
  // @include adaptiveValue("font-size", 104, 44, 2, 1920.98, 1440.98);
  // @include adaptiveValue("font-size", 44, 24, 3, 1440.98, 375.98);
  @include adaptiveValue("font-size", 44, 24, 0, 1440.98, 375.98);
  font-weight: 700;
  line-height: 1.1;
}

.title-42 {
  @include adaptiveValue("font-size", 54, 42, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 42, 26, 3, 1440.98, 375.98);
  font-weight: 700;
  line-height: 1.1;
}

// == TEXTS =======================
.txt-main {
  @include adaptiveValue("font-size", 57, 50, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 50, 21, 3, 1440.98, 375.98);
  font-weight: 700;
  line-height: 1.2;

  &.split-words {
    .word {
      opacity: 0.025;
    }
  }
}

.txt-20 {
  font-weight: 600;
  line-height: 1.2;
  @include adaptiveValue("font-size", 20, 14, 0, 1920.98, 375.98);
}

.txt-19 {
  font-weight: 500;
  line-height: 1.2;
  @include adaptiveValue("font-size", 19, 12, 0, 1920.98, 375.98);
}


// == PADDINGS ==================
.pt-40 {
  padding-top: toRem(40);
}

.pt-90-60 {
  @include adaptiveValue("padding-top", 90, 60, 0, 1440.98, 375.98);
}

.pb-90-60 {
  @include adaptiveValue("padding-bottom", 90, 60, 0, 1440.98, 375.98);
}

// -- MARGINS =====================
.mb-60-50 {
  @include adaptiveValue("margin-bottom", 60, 50, 0, 1440.98, 375.98);
}

.mb-44-30 {
  @include adaptiveValue("margin-bottom", 44, 30, 0, 1440.98, 375.98);
}


// === OL list ==========
%listCount {
  position: relative;
  list-style-type: none;
  counter-reset: item;

  li {
    position: relative;

    &:before {
      counter-increment: item;
      content: "0"counter(item);
      font-family: "Montserrat", sans-serif;
    }
  }
}