.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--top {
    object-position: top;
  }

  &--bottom {
    object-position: bottom;
  }

  &--left {
    object-position: left;
  }

  &--right {
    object-position: right;
  }

  &--contain {
    object-fit: contain;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


[class*="__container"] {
  width: 100%;
  padding-inline: toRem(16);
  margin-inline: auto;
  @include adaptiveValue("max-width", 1770, 1392, 0, 1920.98, 1440.98);
}
[class*="__sm-container"] {
  width: 100%;
  padding-inline: toRem(16);
  margin-inline: auto;
  @include adaptiveValue("max-width", 1536, 1182, 0, 1920.98, 1440.98);
}

.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
  overflow: hidden;
}

.split-words.set-span {
  .word {
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform .85s cubic-bezier(.22, .89, .34, .96);
    }
  }
}

%loadedSetSpan {
  .word {
    span {
      .loaded & {
        // transform: translateY(0);
        transform: translateY(-9%);
        transition: transform .85s cubic-bezier(.22, .89, .34, .96);
        transition-delay: calc(0.3s + var(--index) * .03s);
      }
    }
  }
}

%viewSetSpan {
  &._view {
    .word {
      span {
        // transform: translateY(0);
        transform: translateY(-9%);
        transition-delay: calc(var(--index) * .03s);
      }
    }
  }
}

.split-chars {
  display: inline-block;
  .char {
       transition: transform .85s cubic-bezier(.22, .89, .34, .96);
    transform: translateY(100%);
  }
}

%loadedChar {
  .char {
    .loaded & {
      transform: translateY(0);
      // transform: translateY(-9%);
      transition: transform .85s cubic-bezier(.22, .89, .34, .96);
      transition-delay: calc(var(--index) * .03s);
    }
  }
}




// Ticker =================================
[data-ticker] {
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;

  >* {
    display: flex;
    flex-wrap: nowrap;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-rev {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

// ========================================


* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px;
  }
}

// == TITLES ========================
.title-hero {
  @extend %fw500;
  @include adaptiveValue("font-size", 51, 30, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 30, 18, 3, 1440.98, 375.98);
}

.title-hero--tme {
  font-family: "archivo", sans-serif;
  @extend %fw700;
  @include adaptiveValue("font-size", 234, 180, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 180, 130, 3, 1440.98, 375.98);
}

.title-main {
  @include adaptiveValue("font-size", 104, 80, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 80, 40, 3, 1440.98, 375.98);
  @extend %fw700;
  // line-height: 1.15;
  line-height: 1;
  @extend %viewSetSpan;
  .word {
      span {
        transition-duration: 1s;
      }
    }
}

.title-50 {
   @include adaptiveValue("font-size", 65, 50, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 50, 38, 3, 1440.98, 375.98);
  @extend %fw700;
  line-height: 1.1;
}
.title-45 {
   @include adaptiveValue("font-size", 58, 45, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 45, 30, 3, 1440.98, 375.98);
 @extend %fw700;
  line-height: 1.1;
}

.title-44 {
  // @include adaptiveValue("font-size", 104, 44, 2, 1920.98, 1440.98);
  // @include adaptiveValue("font-size", 44, 24, 3, 1440.98, 375.98);
  @include adaptiveValue("font-size", 44, 24, 0, 1440.98, 375.98);
@extend %fw700;
  line-height: 1.1;
}

.title-42 {
  @include adaptiveValue("font-size", 54, 42, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 42, 26, 3, 1440.98, 375.98);
  @extend %fw700;
  line-height: 1.1;
}

.title-33 {
  @include adaptiveValue("font-size", 43, 33, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 33, 26, 3, 1440.98, 375.98);
  @extend %fw700;
  line-height: 1.1;
}
.title-25 {
  @include adaptiveValue("font-size", 33, 21, 0, 1920.98, 375.98);
  @extend %fw700;
  line-height: 1.1;
}


// == TEXTS =======================
.txt-main {
  @include adaptiveValue("font-size", 57, 50, 2, 1920.98, 1440.98);
  @include adaptiveValue("font-size", 50, 21, 3, 1440.98, 375.98);
  @extend %fw700;
  line-height: 1.2;
  
  &--33 {
    @include adaptiveValue("font-size", 42, 33, 2, 1920.98, 1440.98);
    @include adaptiveValue("font-size", 33, 21, 3, 1440.98, 375.98);
  }

  &.split-words {
    .word {
      opacity: 0.025;
    }
  }
  &.team__text {
    line-height: 1;
      &.split-words {
        // overflow: hidden;
        .word {
          opacity: 1;
          .word-span {
            // opacity: 0.5;
            // transform: translateY(100%);
          }
        }
      }
  }
}


.txt-23 {
   @extend %fw500;
  line-height: 1.2;
  @include adaptiveValue("font-size", 30, 18, 0, 1920.98, 375.98);
}

.txt-20 {
  font-weight: 600;
  line-height: 1.2;
  @include adaptiveValue("font-size", 20, 14, 0, 1920.98, 375.98);
}

.txt-19 {
    @extend %fw500;
  line-height: 1.2;
  @include adaptiveValue("font-size", 19, 12, 0, 1920.98, 375.98);
}
.txt-18 {
    @extend %fw500;
  line-height: 1.2;
  font-size: toRem(18);
}


// == PADDINGS ==================
.pt-40 {
  padding-top: toRem(40);
}

.pt-90-60 {
  @include adaptiveValue("padding-top", 90, 60, 0, 1440.98, 375.98);
}

.pb-90-60 {
  @include adaptiveValue("padding-bottom", 90, 60, 0, 1440.98, 375.98);
}
.pb-150-90 {
  @include adaptiveValue("padding-bottom", 150, 90, 0, 1440.98, 375.98);
}

// -- MARGINS =====================
.mb-90-60 {
  @include adaptiveValue("margin-bottom", 90, 50, 0, 1440.98, 375.98);
}
.mb-60-50 {
  @include adaptiveValue("margin-bottom", 60, 50, 0, 1440.98, 375.98);
}

.mb-44-30 {
  @include adaptiveValue("margin-bottom", 44, 30, 0, 1440.98, 375.98);
}
.mb-32-24 {
  @include adaptiveValue("margin-bottom", 32, 24, 0, 1440.98, 375.98);
}


// === OL list ==========
%listCount {
  position: relative;
  list-style-type: none;
  counter-reset: item;

  li {
    position: relative;

    &:before {
      counter-increment: item;
      content: "0"counter(item);
      font-family: "Montserrat", sans-serif;
    }
  }
}


// ---- lines ----------
%lineElements {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

// === Arrow =============
%arrow {
   content: '';
  background-image: url("@img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 43/32;
  @include adaptiveValue("width", 40, 32, 0, 1920.98, 1440.98);
}



// == Buttons =========================
.btn {
  flex: 0 0 auto;
  width: max-content;
  position: relative;
  background-color: var(--white);
  @extend %fw700;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: toRem(14);
  border: toRem(1) solid var(--main);
  transition: background-color .3s ease;
  white-space: nowrap;
  &::after {
    @extend %arrow;
      transition: transform .45s ease;
  }
  @media (min-width:$mobileSmall){
    font-size: toRem(22);
    min-height: toRem(52); 
    padding-inline: toRem(19);
  }
  @media (max-width:$mobileSmall){
    font-size: toRem(18);
    min-height: toRem(41); 
    padding-inline: toRem(13);
  }
  @media (any-hover: hover){
    &:hover{
      background-color: var(--blue);
      &::after {
        transform: translate(10px,0);
      }
      .char {
        transform: translateY(-8%);
      }
    }
  }
  &--500 {
     @extend %fw500;
  }
  &--gray {
    background-color: var(--gray);
  }
		// // .btn__chars
		// &__chars {
    //   // text-shadow: ;
    //   &.split-chars {
    //     // overflow: vis;
    //     text-shadow: 0 -26px 0 var(--main);
    //     .char {
    //       // transform: translateY(0);
    //       transition-duration: 0.45s;
    //       transition-timing-function: ease;
    //       transition-delay: calc(0s + var(--index) * .03s);
    //     }
    //   }
		// }
}



.logo-top {
  margin-bottom: toRem(20);
  @media (min-width:toEm(600.98)){
    margin-top: toRem(60);
  }
  @media (max-width:toEm(600.98)){
    margin-top: toRem(100);
  }
  @media (min-width:$mobileSmall){
    margin-bottom: toRem(30);
  }
  .page-not-found & {
    margin-top: toRem(40) !important;
    margin-bottom: toRem(40) !important;
  }
	// .logo-top__container
	&__container {
    img {
      width: 100%;
      height: auto;
      @include adaptiveValue("max-width", 184, 174,0,1440.98,375.98);
    }
	}
}


%transitionBG {
   transition: background-color .3s ease;
       @media (any-hover: hover){
        &:hover{
          background-color: var(--blue);
        }
      }
}
%transitionColor {
   transition: color .3s ease;
}
%Montserrat {
  font-family: "Montserrat", sans-serif;
}
%fw700 {
   font-weight: 700;
}
%fw500 {
   font-weight: 500;
}

%mandatory {
    @media (max-width: toEm(600.98)) {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(16);
      padding-right: toRem(16);
      margin-inline: toRem(-16);

      &::-webkit-scrollbar {
        display: none;
      }
    }
}


.pagination {
  margin-inline: auto;
  max-width: max-content;
    @include adaptiveValue("margin-top", 90, 60, 0, 1440.98, 375.98);
  ul {
    display: flex;
    align-items: center;
    li {
      width: toRem(43);
      flex: 0 0 toRem(43);
      aspect-ratio: 1;
      border: toRem(1) solid var(--main);
      display: grid;
      place-items: center;
      font-size: toRem(20);
      @extend %Montserrat;
      @extend %fw700;
      position: relative;
      &:not(:first-child) {
        margin-left: -1px;
      }
      a {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        &.active {
          background-color: var(--gray2);
        }
        &:active {
          background-color: var(--blue);
        }
        @extend %transitionColor;
        @extend %transitionBG;
      }
    }
  }
}



.breadcrumb {
  @media (min-width:$mobileSmall){
    margin-bottom: toRem(40);
  }
  @media (max-width:$mobileSmall){
    margin-bottom: toRem(20);
  }
	// .breadcrumb__list
	&__list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: toRem(4);
    overflow-y: hidden;
    overflow-x: auto;
    min-height: toRem(25);
    @media (min-width:$mobile){
       flex-wrap: wrap; 
    }
    @media (max-width:$mobile){
      margin-inline: toRem(-20); 
      padding-inline: toRem(20);
      mask-image: linear-gradient(to right, white 90%, transparent 100%);
      -webkit-mask-image: linear-gradient(to right, white 90%, transparent 100%);
    }
    &::-webkit-scrollbar {
      display: none;
    }
	}
	// .breadcrumb__item
	&__item {
    white-space: nowrap;
    font-size: toRem(16);
    font-weight: 500;
    color: #A0A0A0;
    &:not(:last-child) {
      a {
        display: flex;
        align-items: center;
        gap: toRem(4);
        @media (any-hover: hover){
          &:hover{
            color: var(--blue);
          }
        }
        &::after {
          content:'>';
        }
      }
    }
  }
}
