%mlBeforeHero {
  @include adaptiveValue("margin-left", 22, 17, 0, 1440.98, 375.98);
}

section,
.ticker {
  position: relative;
  z-index: 1;
  background-color: var(--white);
}

.hero {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100%;
  overflow: hidden;
  // min-height: 100svh;
  // max-height: 100svh;
  height: 100svh;
  background-color: var(--gray);
  display: grid;
  @include adaptiveValue("padding-bottom", 80, 26, 0, 1440.98, 375.98);
  padding-top: toRem(64);

  @media (orientation: portrait) and (max-width:toEm(820.98)) {
    padding-top: toRem(110);
  }

  // .hero__container
  &__container {
    flex: 1;
    position: relative;
    z-index: 1;
  }

  // .hero__block
  &__block {
    height: 100%;

    @media (min-width:$mobileSmall) {
      display: grid;
    }

    @media (max-width:$mobileSmall) {
      display: flex;
      flex-direction: column;
    }

    &::before {
      content: '';
      width: 3.4vw;
      max-width: toRem(65);
      min-width: toRem(29);
      aspect-ratio: 1;
      background-color: var(--red);
      @extend %mlBeforeHero;

      @media (min-width:$mobileSmall) {
        order: 2;
      }

      @media (max-width:$mobileSmall) {
        margin-bottom: toRem(20);
      }
    }
  }

  // .hero__title
  &__title {
    @media (min-width:$mobileSmall) {
      order: 3;
      align-self: flex-end;
    }

    @media (max-width:$mobileSmall) {
      flex: 1;
    }
  }

  // .hero__t-me
  &__t-me {
    @extend %loadedChar;
  }

  // .hero__txt
  &__txt {
    // line-height: 1.15;
    max-width: toRem(770);
    @extend %loadedSetSpan;
  }

  // .hero__year
  &__year {
    @extend %mlBeforeHero;
    font-size: toRem(17);
    font-weight: 700;

    @media (min-width:$mobileSmall) {
      order: 1;
    }
  }

  // .hero__cards
  &__cards {}
}

.cards-hero {
  position: absolute;
  inset: 0;
  z-index: 0;
  transform: scale(0.5);
  opacity: 0;

  .loaded & {
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s ease, transform .65s ease;
    transition-delay: .65s;
  }

  // .cards-hero__card
  &__card {
    position: absolute;
    width: 100%;
    aspect-ratio: 300/257;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    // animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    line-height: 1.2;

    @include adaptiveValue("padding", 40, 20, 0, 1440.98, 375.98);

    span {
      display: block;
      will-change: transform;
    }

    &.card-01 {
      background-color: var(--blue);
      @include adaptiveValue("max-width", 375, 206, 0, 1440.98, 480.98);
      background-image: url('@img/hero-cards/cards-1.svg');
      animation-name: moveCard01;

      @media (min-width:$mobileSmall) {
        animation-duration: 35s;
      }

      @media (max-width:$mobileSmall) {
        animation-duration: 12s;
      }
    }

    &.card-02 {
      background-color: var(--purple);
      @include adaptiveValue("max-width", 375, 198, 0, 1440.98, 480.98);
      background-image: url('@img/hero-cards/cards-3.svg');
      animation-name: moveCard02;

      @media (min-width:$mobileSmall) {
        animation-duration: 20s;
      }

      @media (max-width:$mobileSmall) {
        animation-duration: 25s;
      }
    }

    &.card-03 {
      background-color: var(--green);
      @include adaptiveValue("max-width", 300, 206, 0, 1440.98, 480.98);
      background-image: url('@img/hero-cards/cards-2.svg');
      animation-name: moveCard03;

      @media (min-width:$mobileSmall) {
        animation-duration: 30s;
      }

      @media (max-width:$mobileSmall) {
        animation-duration: 15s;
      }
    }
  }

  // .cards-hero__title
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    @include adaptiveValue("font-size", 50, 40, 0, 1440.98, 375.98);
  }

  // .cards-hero__txt
  &__txt {
    @include adaptiveValue("font-size", 17, 15, 0, 1440.98, 375.98);
  }
}

@media (min-width:$mobileSmall) {
  @keyframes moveCard01 {
    0% {
      top: -10%;
      left: 35%;
      transform: scale(1) rotate(-15deg);
    }

    25% {
      top: 15%;
      left: 5%;
      transform: scale(0.65) rotate(15deg);
    }

    50% {
      top: 40%;
      left: 35%;
      transform: scale(1.1) rotate(-10deg);
    }

    75% {
      top: 25%;
      left: 0%;
      transform: scale(.8) rotate(20deg);
    }

    100% {
      top: 35%;
      left: 15%;
      transform: scale(0.5) rotate(-20deg);
    }
  }

  @keyframes moveCard02 {
    0% {
      top: 0%;
      right: 5%;
      transform: scale(1) rotate(-35deg);
    }

    20% {
      top: 10%;
      right: -10%;
      transform: scale(1.05) rotate(-10deg);
    }

    40% {
      top: 20%;
      right: 10%;
      transform: scale(0.95) rotate(40deg);
    }

    60% {
      top: 15%;
      right: -5%;
      transform: scale(1) rotate(5deg);
    }

    80% {
      top: 10%;
      right: 8%;
      transform: scale(1.05) rotate(10deg);
    }

    100% {
      top: 5%;
      right: 5%;
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes moveCard03 {
    0% {
      top: 50%;
      right: 20%;
      transform: scale(.5) rotate(0deg);
    }

    16% {
      top: 75%;
      right: 30%;
      transform: scale(0.95) rotate(-30deg);
    }

    32% {
      top: 90%;
      right: 15%;
      transform: scale(1.05) rotate(20deg);
    }

    48% {
      top: 40%;
      right: 25%;
      transform: scale(1) rotate(-5deg);
    }

    62% {
      top: 70%;
      right: 25%;
      transform: scale(1) rotate(10deg);
    }

    76% {
      top: 60%;
      right: 25%;
      transform: scale(.65) rotate(30deg);
    }

    100% {
      top: 40%;
      right: 20%;
      transform: scale(1) rotate(-30deg);
    }
  }

}

@media (max-width:$mobileSmall) {
  @keyframes moveCard01 {
    0% {
      top: -15%;
      left: 55%;
      transform: scale(1) rotate(-10deg);
    }

    33% {
      top: 0%;
      left: 45%;
      transform: scale(0.95) rotate(10deg);
    }

    66% {
      top: -5%;
      left: 50%;
      transform: scale(1.05) rotate(-5deg);
    }

    100% {
      top: 15%;
      left: 40%;
      transform: scale(1) rotate(-10deg);
    }
  }

  @keyframes moveCard02 {
    0% {
      bottom: -5%;
      right: -10%;
      transform: scale(1) rotate(-10deg);
    }

    30% {
      bottom: 25%;
      right: 50%;
      transform: scale(0.8) rotate(10deg);
    }

    40% {
      bottom: -5%;
      right: -5%;
      transform: scale(1.25) rotate(-5deg);
    }

    60% {
      bottom: 25%;
      right: 5%;
      transform: scale(1) rotate(15deg);
    }

    100% {
      bottom: 8%;
      right: 25%;
      transform: scale(0.9) rotate(0deg);
    }
  }

  @keyframes moveCard03 {
    0% {
      top: 50%;
      left: 10%;
      transform: scale(0.55) rotate(0deg);
    }

    25% {
      top: 70%;
      left: -10%;
      transform: scale(1.2) rotate(40deg);
    }

    66% {
      top: 85%;
      left: 30%;
      transform: scale(.6) rotate(-30deg);
    }

    100% {
      top: 75%;
      left: 0%;
      transform: scale(1.3) rotate(0deg);
    }
  }
}

// == SERVICES-HOME SECTION ==========================================
.services-home {
  margin-top: 100svh;

  // .services-home__container
  &__container {

    // padding-bottom: var(--heightEl);
    @media (max-width:$mobileSmall) {
      min-height: 90svh;
    }
  }

  // .services-home__title
  &__title {}

  // .services-home__txt
  &__txt {
    @media (min-width:$mobileSmall) {
      max-width: 70%;
      margin-bottom: toRem(60);
    }

    @media (max-width:$mobileSmall) {
      max-width: 83%;
      margin-bottom: toRem(90);
    }
  }

  // .services-home__list
  &__list {
    @extend %listCount;

    li {
      @media (min-width:toEm(600.98)) {
        position: absolute;
      }

      &:before {
        // counter-increment: item;
        // content: "0"counter(item);
        // font-family: "Montserrat", sans-serif;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 400;
        @include adaptiveValue("font-size", 300, 100, 0, 1440.98, 480.98);
      }
    }

    @media (min-width:toEm(820.98)) {
      max-width: 68%;
      margin-right: 3vw;
      margin-left: auto;
    }

    @media (min-width:toEm(600.98)) {
      overflow: hidden;
      border-bottom: toRem(1) solid var(--main);
      min-height: var(--heightEl);
    }
  }

  // .services-home__item
  &__item {
    min-height: var(--heightEl);
    border-top: toRem(1) solid var(--main);
    background-color: var(--white);
    @include adaptiveValue("padding-block", 44, 32, 0, 1440.98, 480.98);
    @include adaptiveValue("padding-inline", 32, 0, 0, 1440.98, 480.98);

    transform: translate(0, 100%);

    @media (min-width:toEm(600.98)) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @media (max-width: toEm(600.98)) {
      position: relative;
      opacity: 0;
      transition: transform 1s ease, opacity .65s ease;

      ._view & {
        opacity: 1;
        transform: translate(0, 0%);
      }

      &:nth-child(1) {
        transition-delay: 0s;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:nth-child(3) {
        transition-delay: 0.2s;
      }

      &:nth-child(4) {
        transition-delay: 0.3s;
      }
    }

    // &:not(:first-child) {
    // @media (min-width:$mobileSmall){
    //   transform: translate(0,170%);
    // }
    // @media (max-width:$mobileSmall){
    //   transform: translate(0,200%);
    // }
    // }
    // &:last-child {
    //   border-bottom: toRem(1) solid var(--main);
    // }

  }

  // .services-home__item-title
  &__item-title {
    @media (min-width:$mobileSmall) {
      max-width: 56%;
    }

    @media (max-width:$mobileSmall) {
      max-width: 76%;
    }
  }

  // .services-home__item-txt
  &__item-txt {
    @media (min-width:$mobileSmall) {
      max-width: 56%;
    }

    @media (max-width:$mobileSmall) {
      max-width: 76%;
    }
  }
}

// == TICKER ==========================================
.ticker {

  // .ticker__wrapper
  &__wrapper {
    overflow: hidden;

    &:nth-child(1) {}

    &:nth-child(2) {
      .ticker__body {
        transition-delay: .1s;
      }
    }
  }

  // .ticker__body
  &__body {
    transition: transform .85s cubic-bezier(.22, .89, .34, .96);
    transform: translate(0, 100%);

    ._view & {
      transform: translate(0, 0%);
    }
  }

  // .ticker__list
  &__list {}

  // .ticker__item
  &__item {
    cursor: pointer;
    width: 100%;
    @include adaptiveValue("max-width", 236, 154, 0, 1440.98, 480.98);
    @include adaptiveValue("margin", 10, 6, 0, 1440.98, 480.98);
    border: toRem(1) solid var(--main);
    aspect-ratio: 1;
    transition: border-color .2s ease, background-color .2s ease;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--blue);
        background-color: var(--blue);
      }
    }

    img {
      object-fit: contain;
    }
  }
}



// == PROMOTION SECTION ==========================================
.promotion {

  // .promotion__container
  &__container {}

  // .promotion__title
  &__title {}

  // .promotion__list
  &__list {
    display: grid;
    grid-auto-rows: 1fr;

    @media (min-width:$mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .promotion__item
  &__item {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      height: 85%;
      width: auto;
    }

    &:nth-child(1) {

      .promotion__block,
      .promotion__item-title {
        transition-delay: 0s;
      }

      .promotion__item-subtitle {
        transition-delay: 0.05s;
      }
    }

    &:nth-child(2) {

      .promotion__block,
      .promotion__item-title {
        transition-delay: 0.1s;
      }

      .promotion__item-subtitle {
        transition-delay: 0.15s;
      }
    }

    &:nth-child(3) {

      .promotion__block,
      .promotion__item-title {
        transition-delay: 0.2s;
      }

      .promotion__item-subtitle {
        transition-delay: 0.25s;
      }
    }

    &:nth-child(4) {

      .promotion__block,
      .promotion__item-title {
        transition-delay: 0.3s;
      }

      .promotion__item-subtitle {
        transition-delay: 0.35s;
      }
    }

    @media (min-width:$mobile) {
      min-height: 50vh;
    }

    @media (orientation: portrait) and (max-width: toEm(1366.98)) {
      min-height: 30vh;
    }

    @media (max-width:$mobile) {
      min-height: toRem(200) !important;
    }

    &:nth-child(1) {
      .promotion__block {
        background-color: var(--purple);
      }
    }

    &:nth-child(2) {
      .promotion__block {
        background-color: var(--blue);
      }
    }

    &:nth-child(3) {
      .promotion__block {
        background-color: var(--green);
      }
    }

    &:nth-child(4) {
      .promotion__block {
        background-color: var(--red);
      }
    }
  }

  // .promotion__block
  &__block {
    padding: toRem(20);
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;

    transition: transform .85s cubic-bezier(.22, .89, .34, .96), opacity .3s ease;
    transform: translateX(100%);

    ._view & {
      transform: translateX(0%);
    }
  }

  // .promotion__item-title
  &__item-title {
    margin-bottom: toRem(20);
    @extend %promoAnim;
  }

  // .promotion__item-subtitle
  &__item-subtitle {
    @extend %promoAnim;
    max-width: 60%;
    margin-inline: auto;
  }
}

%promoAnim {
  transform: translateX(80%);
  opacity: 0;
  // transition: transform 1s cubic-bezier(.22, .89, .34, .96), opacity .3s ease;
  transition: transform 1s ease, opacity 1s ease;

  ._view & {
    opacity: 1;
    transform: translateX(0%);
  }
}

// == ROAD MAP SECTION ==========================================
.roadmap {

  // .roadmap__container
  &__container {}

  // .roadmap__title
  &__title {}

  // .roadmap__list
  &__list {

    @include adaptiveValue("gap", 24, 20, 0, 1440.98, 480.98);

    @media (min-width:toEm(1100.98)) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:toEm(1100.98)) and (min-width: toEm(600.98)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width:toEm(600.98)) {
      display: grid;
    }

    @media (max-width: toEm(600.98)) {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(16);
      padding-right: toRem(16);
      margin-inline: toRem(-16);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @extend %listCount;

    li {
      &::before {
        position: absolute;
        left: toRem(18);
        top: toRem(32);
        font-weight: 700;
        @include adaptiveValue("font-size", 100, 80, 0, 1920.98, 1440.98);
      }

    }
  }

  // .roadmap__item
  &__item {
    padding-inline: toRem(18);
    padding-bottom: toRem(32);
    // aspect-ratio: 321/433;
    display: flex;
    flex-direction: column;
    // padding-top: 80%;
    @include adaptiveValue("padding-top", 350, 236, 2, 1920.98, 1440.98);
    @include adaptiveValue("padding-top", 236, 280, 3, 1440.98, 480.98);
    @include adaptiveValue("min-height", 550, 430, 0, 1920.98, 1440.98);

    @media (max-width: toEm(600.98)) {
      width: 100%;
      flex: none;
      overflow-y: hidden;
      scroll-snap-align: center;
    }

    opacity: 0;

    @media (min-width:toEm(600.98)) {

      will-change: transform;

      &:nth-child(1) {
        transform: translateY(20%);
      }

      &:nth-child(2) {
        transform: translateY(45%);
      }

      &:nth-child(3) {
        transform: translateY(70%);
      }

      &:nth-child(4) {
        transform: translateY(95%);
      }

      &:nth-child(5) {
        transform: translateY(120%);
      }
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        top: toRem(60);
        right: toRem(32);
        @extend %arrow;
      }
    }

    &:not(:first-child) {
      background-color: var(--gray);
    }

    &:first-child {
      background-color: var(--purple);
    }
  }

  // .roadmap__text
  &__text {
    font-size: toRem(18);
    font-weight: 600;
    line-height: 1.2;
  }
}


// == - SECTION ==========================================
.cases-home {

  // .cases-home__content
  &__content {
    padding-bottom: toRem(150);
  }

  // .cases-home__container
  &__container {}

  // .cases-home__block
  &__block {
    display: flex;
    justify-content: space-between;

    @media (max-width: toEm(820.98)) {
      flex-direction: column;
      gap: toRem(90);
    }
  }

  // .cases-home__title
  &__title {}

  // .cases-home__link
  &__link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    position: relative;
    @include adaptiveValue("font-size", 33, 22, 0, 1440.98, 480.98);
    font-weight: 500;
    gap: toRem(17);
    height: max-content;
    transition: color .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--blue);

        &::after {
          transform: translate(10px, 0);
        }
      }
    }

    &::after {
      @extend %arrow;
      transition: transform .3s ease;
    }
  }

  // .cases-home__scroll
  &__scroll {
    overflow: hidden;
    @include adaptiveValue("padding-inline", 90, 40, 2, 1920.98, 1440.98);
    @include adaptiveValue("padding-inline", 40, 16, 3, 1440.98, 1392.98);
  }

  // .cases-home__list
  &__list {
    display: flex;
    @include adaptiveValue("gap", 92, 20, 0, 1440.98, 480.98);
     @media (max-width: toEm(600.98)) {
      // display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(16);
      padding-right: toRem(16);
      margin-inline: toRem(-16);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .cases-home__item
  &__item {
    position: relative;

    // transform: translateY(50%);
    // transform: scale(0.65);
    @media (min-width:toEm(820.98)) {
      .cases-home & {
        flex: 0 0 44%;
        max-width: 45%;
      }
    }

    @media (max-width: toEm(820.98)) {
      .cases-home & {
        flex: 0 0 90%;
      }
    }

     @media (max-width: toEm(600.98)) {
      scroll-snap-align: center;
    }

    @media (any-hover: hover) {
      &:hover {
        .cases-home__img {
          img {
            transform: scale(1.1);
          }
        }

        .cases-home__footer {
          color: var(--blue);
        }
      }
    }
  }

  // .cases-home__img
  &__img {
    overflow: hidden;
    background-color: var(--gray);
    @include adaptiveValue("margin-bottom", 23, 10, 0, 1440.98, 480.98);

    img {
      transition: transform .65s ease;

      .cases-home & {
        @media (orientation: landscape) {
          max-height: 50vh;
        }

        @media (orientation: landscape) and (max-height:toEm(740)) {
          max-height: 44vh !important;
        }

        @media (orientation: portrait) {
          aspect-ratio: 690/477;
        }
      }

      &:not(.cases-home) {
        aspect-ratio: 690/477;
      }
    }
  }

  // .cases-home__footer
  &__footer {
    transition: color .3s ease;
  }

  // .cases-home__title-item
  &__title-item {
    @include adaptiveValue("margin-bottom", 23, 10, 0, 1440.98, 480.98);
  }

  // .cases-home__txt
  &__txt {
    @extend %lineElements;
    max-width: 85%;

    @media (min-width:toEm(820.98)) {
      -webkit-line-clamp: 2;
    }
  }

  // .cases-home__link-item
  &__link-item {
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  // .cases-home__container
  &__container {}

  // .cases-home__text
  &__text {
    @media (min-width:toEm(820.98)) {
      max-width: 75%;
    }
  }

  // .cases-home__channels
  &__channels {}
}

.channels {
  display: grid;
  grid-auto-rows: 1fr;

  @media (min-width:$mobileSmall) {
    grid-template-columns: repeat(5, 20%);
  }

  @media (max-width:$mobileSmall) {
    grid-template-columns: repeat(3, 33.333%);
  }

  // .channels__item
  &__item {
    display: grid;
    place-items: center;
    border-top: toRem(1) solid var(--main);
    border-right: toRem(1) solid var(--main);

    &:not(.txt-channels) {
      cursor: pointer;
      transition: background-color .3s ease;

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--blue);
        }
      }
    }

    // aspect-ratio: 289/257;
    img {
      aspect-ratio: 289/257;
      object-fit: contain;
    }

    &:nth-child(11),
    &:nth-child(12) {
      border-bottom: toRem(1) solid var(--main);
    }

    @media (min-width:$mobileSmall) {

      &:first-child,
      &:nth-child(5),
      &:nth-child(9) {
        border-left: toRem(1) solid var(--main);
      }

      &:nth-child(9),
      &:nth-child(10) {
        border-bottom: toRem(1) solid var(--main);
      }
    }

    @media (max-width:$mobileSmall) {}

    &:nth-child(1) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 2/4;
        order: 1;
      }
    }

    &:nth-child(2) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 2/4;
        order: 2;
      }
    }

    &:nth-child(3) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 2/4;
        order: 3;
      }
    }

    &:nth-child(4) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 2/4;
        order: 5;
      }
    }

    &:nth-child(5) {

      // grid-column: 1/3;
      @media (max-width:$mobileSmall) {
        // grid-row: 5/6;
        // grid-column: 1/3;
        order: 9;
      }
    }

    &:nth-child(6) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 1/2;
        order: 4;
      }
    }

    &:nth-child(7) {
      @media (max-width:$mobileSmall) {
        // grid-row: 3/4;
        // grid-column: 1/2;
        order: 6;
      }
    }

    &:nth-child(8) {
      @media (max-width:$mobileSmall) {
        // grid-row: 3/4;
        // grid-column: 2/3;
        order: 7;
      }
    }

    &:nth-child(9) {
      @media (max-width:$mobileSmall) {
        // grid-row: 2/3;
        // grid-column: 3/4;
        order: 8;
      }
    }

    &:nth-child(10) {
      @media (max-width:$mobileSmall) {
        // grid-row: 4/5;
        // grid-column: 3/4;
        order: 10;
      }
    }

    &:nth-child(11) {
      @media (max-width:$mobileSmall) {
        // grid-row: 5/6;
        // grid-column: 1/2;
        order: 11;
      }
    }

    &:nth-child(12) {

      //  grid-column: 4/6;
      @media (max-width:$mobileSmall) {
        //  grid-row: 5/6;
        // grid-column: 2/4;
        order: 12;
      }
    }
  }
}

.txt-channels {
  grid-template-columns: 1fr 1fr;
  position: relative;
  // justify-content: space-between;
  gap: toRem(10);
  place-items: center;
  padding-inline-start: 2vw;
  grid-column: span 2;

  // aspect-ratio: 576/258;
  &.txt-channels--purple {
    background-color: var(--purple);
  }

  &.txt-channels--gray {
    background-color: var(--gray);
  }

  // .txt-channels__txt
  &__txt {
    font-weight: 700;

    @media (min-width:$mobileSmall) {
      font-size: 1.8vw;
    }

    @media (max-width:$mobileSmall) {
      font-size: 3vw;
    }
  }

  // .txt-channels__counters
  &__counters {
    grid-column: 2/3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    @media (min-width:$mobileSmall) {
      font-size: 8.8vw;
    }

    @media (max-width:$mobileSmall) {
      font-size: 15vw;
    }
  }

  // .txt-channels__item
  &__item {}
}


// == TIAM SECTION ==========================================
.team {

  // .team__container
  &__container {}

  // .team__title
  &__title {}

  // .team__text
  &__text {
    @media (min-width:$mobileSmall) {
      max-width: 95%;
    }
  }

  // .team__list
  &__list {
    display: grid;

    @media (min-width:toEm(600.98)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: toEm(600.98)) and (min-width:$mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width:$mobileSmall) {
      gap: toRem(32);
    }

    @media (max-width:$mobileSmall) {
      gap: toRem(54);
    }
  }

  // .team__item
  &__item {}
}

.item-team {

  // .item-team__img
  &__img {
    overflow: hidden;
    background-color: var(--gray);
    clip-path: polygon(50% 0, 50% 0, 50% 0%, 50% 0%);
    transition: clip-path 1.2s cubic-bezier(.22, .89, .34, .96);
    margin-bottom: toRem(32);

    ._view & {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    img {
      transition: transform 1s cubic-bezier(.22, .89, .34, .96);
    }
  }

  // .item-team__footer
  &__footer {
    text-transform: uppercase;
    transition: opacity .85s ease;
    opacity: 0.1;

    ._view & {
      opacity: 1;
    }
  }

  // .item-team__position
  &__position {
    margin-bottom: toRem(16);
  }

  // .item-team__name
  &__name {
    font-size: toRem(21);
    font-weight: 500;
  }
}


// == - SECTION ==========================================
.blog-home {

  // .blog-home__content
  &__content {}

  // .blog-home__container
  &__container {}

  // .blog-home__block
  &__block {
    @media (max-width:$mobileSmall) {
      gap: toRem(20);
    }

    @media (max-width: toEm(375.98)) {
      gap: toRem(0);
    }
  }

  // .blog-home__scroll
  &__scroll {}

  // .blog-home__list
  &__list {
    display: flex;
    @include adaptiveValue("gap", 100, 20, 0, 1440.98, 480.98);
     @media (max-width: toEm(600.98)) {
      // display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(16);
      padding-right: toRem(16);
      margin-inline: toRem(-16);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .blog-home__item
  &__item {
  }
}

.item-blog-home {
  display: grid;
  gap: toRem(42);
  
  @media (min-width:toEm(1280.98)) {
    flex: 0 0 68%;
    grid-template-columns: 56% 1fr;
  }
  @media (max-width:toEm(1280.98)) {
    flex: 0 0 90%;
  }

  @media (max-width:toEm(1280.98)) and (min-width:toEm(700.98)) {
    grid-template-columns: auto 1fr;
  }

  @media (max-width: toEm(700.98)) {
    // flex: 0 0 100vw;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // min-height: 100%;
    // flex: 1;
    min-width: 95%;
  }
  @media (max-width: toEm(600.98)){
       scroll-snap-align: center;
  }


  @media (max-width:toEm(375.98)) {
    gap: toRem(25);
  }

  // .item-blog-home__img
  &__img {
    overflow: hidden;

    // @media (max-width:toEm(700.98)) {
    //   flex: 1;
    // }

    img {
      @media (max-width:$mobileSmall) {
        aspect-ratio: 343/200;
      }

      @media (max-width: toEm(375.98)) {
        aspect-ratio: 343/180;
      }
    }
  }

  // .item-blog-home__body
  &__body {
    display: flex;
    flex-direction: column;
    @media (max-width:toEm(700.98)){
      flex: 1;
    }
  }

  // .item-blog-home__title
  &__title {
    @media (max-width: toEm(375.98)) {
      margin-bottom: toRem(10) !important;
    }
  }

  // .item-blog-home__sub-title
  &__sub-title {
    flex: 1;
    @extend %lineElements;
    -webkit-line-clamp: 4;
    margin-bottom: toRem(25);

    @media (max-width:toEm(375.98)) {
      -webkit-line-clamp: 2;
      font-size: toRem(16) !important;
    }
  }

  // .item-blog-home__footer
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);

    p {
      font-family: "Montserrat", sans-serif;
      font-size: toRem(18);
      font-weight: 500;
    }
  }
}



// == - SECTION ==========================================
.brief {

  // .brief__container
  &__container {}

  // .brief__title
  &__title {}

  // .brief__block
  &__block {
    display: flex;
    gap: toRem(30);

    @media (min-width:$mobile) {
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  // .brief__text
  &__text {
    @media (min-width:$mobileSmall) {
      max-width: 48%;
    }
  }

  // .brief__btn
  &__btn {
    @media (max-width:$mobile) {
      align-self: flex-end;
    }
  }
}



// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================
// == - SECTION ==========================================